.cardNews {
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
    margin-bottom: 20px;
    text-align: center;
    overflow: hidden;
}
.cardNews__boxImage {
    display: block;
    width: 100%;
    height: 280px;
    background-color: #8c8c8c;
}
.cardNews__image {
    width: 100%;
    height: auto;
}

.cardNews__content {
    display: block;
    padding: 20px;
}

.cardNews__highlightText {
    text-transform: uppercase;
    color: #7ca3d2;
    font-size: 20px;
}

.cardNews__highlightText:last-child {
    font-size: 18px;
    margin-top: 20px;
}

.cardNews__commonText {
    color: #a9a9a9;
}

.cardNews__commonText:last-child {
    margin-top: 10px;
}
